[submodule "sentry"]
	path = sentry
	url = git@github.com:getsentry/sentry-native.git
[submodule "GameNetworkingSockets"]
	path = GameNetworkingSockets
	url = git@github.com:ValveSoftware/GameNetworkingSockets.git
